.header{
  display: flex;
}

.title {
  padding: 0 1rem;
  font-size: 3.5rem;
  font-weight: 600;
}

.subtitle {
  background-color: rgb(71, 200, 233);
}

.description {
  background-color: green ;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: .1fr .1fr .1fr;
  grid-template-rows: 1fr 1fr 1fr;

}

.index{
  position: absolute;
  z-index: 100; 
}